body {
  font-family: "helvetica", "arial", "sans-serif";
  background-color: #EEE;
}

th {
  width: 150px;
  text-align: left;
}

td {
  width: 150px;
  vertical-align: top;
}

ul {
  list-style: none;
  padding: 0px;
}

#content-wrapper {
  width: 1280px;
}

